<a href="https://colab.research.google.com/github/natalie2103/CS103/blob/main/activity5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Mounted at /gdrive
/gdrive

**Read the datasets**

In [2]:
import pandas as pd
math_grade = pd.read_csv("/gdrive/MyDrive/Colab Notebooks/student_grade_math.csv")
science_grade = pd.read_csv("/gdrive/MyDrive/Colab Notebooks/student_grade_science.csv")

print(math_grade)
print(science_grade)

    Gender                 Name  Math_grade
0     Male      Jones, Richard         57.0
1     Male       Jones, Charles        81.0
2     Male      Brown, Richard        100.0
3     Male      Johnson, James         55.0
4     Male   Rodriguez, Joseph         64.0
5     Male      Miller, Thomas         75.0
6     Male      Williams, John         71.0
7     Male  Rodriguez, Charles         71.0
8     Male       Smith, Thomas         50.0
9     Male        Jones, James         72.0
10    Male      Miller, Thomas          NaN
11  Female       Smith, Dorothy        92.0
12  Female      Brown, Patricia        96.0
13  Female    Johnson, Jennifer        55.0
14  Female     Miller, Jennifer        76.0
15  Female       Davis, Barbara        79.0
16  Female        Wilson, Maria        82.0
17  Female      Wilson, Dorothy        77.0
18  Female    Johnson, Jennifer        55.0
19  Female    Miller, Elizabeth         NaN
20  Female     Johnson, Barbara        89.0
21  Female         Miller, Mary        74.0
    Gender                 Name  Science_grade
0     Male      Jones, Richard              90
1     Male       Jones, Charles             89
2     Male      Brown, Richard              63
3     Male      Johnson, James              55
4     Male   Rodriguez, Joseph              99
5     Male      Miller, Thomas              99
6     Male      Williams, John              89
7     Male  Rodriguez, Charles              93
8     Male       Smith, Thomas              68
9     Male        Jones, James              86
10    Male      Miller, Thomas              75
11  Female       Smith, Dorothy             57
12  Female      Brown, Patricia             80
13  Female    Johnson, Jennifer             77
14  Female     Miller, Jennifer             51
15  Female       Davis, Barbara             60
16  Female        Wilson, Maria            100
17  Female      Wilson, Dorothy             84
18  Female    Johnson, Jennifer             77
19  Female    Miller, Elizabeth             84
20  Female     Johnson, Barbara             54
21  Female         Miller, Mary             65

**Merge male and female datasets for both math and science**

In [3]:
# Check the column names
print("Math Dataset Columns:", math_grade.columns)
print("Science Dataset Columns:", science_grade.columns)

# Math dataset processing
math_combined = math_grade.dropna(subset=['Name'])
math_combined = math_combined.sort_values(by='Name')

# Science dataset processing
science_combined = science_grade.dropna(subset=['Name'])
science_combined = science_combined.sort_values(by='Name')

# Reset index after sorting
math_combined.reset_index(drop=True, inplace=True)
science_combined.reset_index(drop=True, inplace=True)

# Display sorted math and science datasets
print(math_combined)
print(science_combined)

Math Dataset Columns: Index(['Gender', 'Name', 'Math_grade'], dtype='object')
Science Dataset Columns: Index(['Gender', 'Name', 'Science_grade'], dtype='object')
    Gender                 Name  Math_grade
0   Female      Brown, Patricia        96.0
1     Male      Brown, Richard        100.0
2   Female       Davis, Barbara        79.0
3   Female     Johnson, Barbara        89.0
4     Male      Johnson, James         55.0
5   Female    Johnson, Jennifer        55.0
6   Female    Johnson, Jennifer        55.0
7     Male       Jones, Charles        81.0
8     Male        Jones, James         72.0
9     Male      Jones, Richard         57.0
10  Female    Miller, Elizabeth         NaN
11  Female     Miller, Jennifer        76.0
12  Female         Miller, Mary        74.0
13    Male      Miller, Thomas         75.0
14    Male      Miller, Thomas          NaN
15    Male  Rodriguez, Charles         71.0
16    Male   Rodriguez, Joseph         64.0
17  Female       Smith, Dorothy        92.0
18    Male       Smith, Thomas         50.0
19    Male      Williams, John         71.0
20  Female      Wilson, Dorothy        77.0
21  Female        Wilson, Maria        82.0
    Gender                 Name  Science_grade
0   Female      Brown, Patricia             80
1     Male      Brown, Richard              63
2   Female       Davis, Barbara             60
3   Female     Johnson, Barbara             54
4     Male      Johnson, James              55
5   Female    Johnson, Jennifer             77
6   Female    Johnson, Jennifer             77
7     Male       Jones, Charles             89
8     Male        Jones, James              86
9     Male      Jones, Richard              90
10  Female    Miller, Elizabeth             84
11  Female     Miller, Jennifer             51
12  Female         Miller, Mary             65
13    Male      Miller, Thomas              99
14    Male      Miller, Thomas              75
15    Male  Rodriguez, Charles              93
16    Male   Rodriguez, Joseph              99
17  Female       Smith, Dorothy             57
18    Male       Smith, Thomas              68
19    Male      Williams, John              89
20  Female      Wilson, Dorothy             84
21  Female        Wilson, Maria            100

**Combine the two dataframes**

In [4]:
# Merge math and science grades based on the "Name" column
student_grades = pd.merge(math_combined, science_combined, on="Name")

# Save the combined dataset to a CSV file
student_grades.to_csv("/gdrive/MyDrive/Colab Notebooks/student_grades.csv")

# Display the combined dataframe
print(student_grades)

   Gender_x                 Name  Math_grade Gender_y  Science_grade
0    Female      Brown, Patricia        96.0   Female             80
1      Male      Brown, Richard        100.0     Male             63
2    Female       Davis, Barbara        79.0   Female             60
3    Female     Johnson, Barbara        89.0   Female             54
4      Male      Johnson, James         55.0     Male             55
5    Female    Johnson, Jennifer        55.0   Female             77
6    Female    Johnson, Jennifer        55.0   Female             77
7    Female    Johnson, Jennifer        55.0   Female             77
8    Female    Johnson, Jennifer        55.0   Female             77
9      Male       Jones, Charles        81.0     Male             89
10     Male        Jones, James         72.0     Male             86
11     Male      Jones, Richard         57.0     Male             90
12   Female    Miller, Elizabeth         NaN   Female             84
13   Female     Miller, Jennifer        76.0   Female             51
14   Female         Miller, Mary        74.0   Female             65
15     Male      Miller, Thomas         75.0     Male             99
16     Male      Miller, Thomas         75.0     Male             75
17     Male      Miller, Thomas          NaN     Male             99
18     Male      Miller, Thomas          NaN     Male             75
19     Male  Rodriguez, Charles         71.0     Male             93
20     Male   Rodriguez, Joseph         64.0     Male             99
21   Female       Smith, Dorothy        92.0   Female             57
22     Male       Smith, Thomas         50.0     Male             68
23     Male      Williams, John         71.0     Male             89
24   Female      Wilson, Dorothy        77.0   Female             84
25   Female        Wilson, Maria        82.0   Female            100

**Load and read the students_grades and add new column "Average"**

In [7]:
import pandas as pd

# Load the student_grades dataset
student_grades = pd.read_csv("/gdrive/MyDrive/Colab Notebooks/student_grades.csv")

# Convert 'Math grade' and 'Science grade' columns to numeric, invalid parsing will be set as NaN
student_grades['Math_grade'] = pd.to_numeric(student_grades['Math_grade'], errors='coerce')
student_grades['Science_grade'] = pd.to_numeric(student_grades['Science_grade'], errors='coerce')

# Create a new column 'Average' by averaging 'Math grade' and 'Science grade', ignoring NaN values
student_grades['Average'] = student_grades[['Math_grade', 'Science_grade']].mean(axis=1)

# Display the dataset with the new 'Average' column
print(student_grades)

    Unnamed: 0 Gender_x                 Name  Math_grade Gender_y  \
0            0   Female      Brown, Patricia        96.0   Female
1            1     Male      Brown, Richard        100.0     Male
2            2   Female       Davis, Barbara        79.0   Female
3            3   Female     Johnson, Barbara        89.0   Female
4            4     Male      Johnson, James         55.0     Male
5            5   Female    Johnson, Jennifer        55.0   Female
6            6   Female    Johnson, Jennifer        55.0   Female
7            7   Female    Johnson, Jennifer        55.0   Female
8            8   Female    Johnson, Jennifer        55.0   Female
9            9     Male       Jones, Charles        81.0     Male
10          10     Male        Jones, James         72.0     Male
11          11     Male      Jones, Richard         57.0     Male
12          12   Female    Miller, Elizabeth         NaN   Female
13          13   Female     Miller, Jennifer        76.0   Female
14          14   Female         Miller, Mary        74.0   Female
15          15     Male      Miller, Thomas         75.0     Male
16          16     Male      Miller, Thomas         75.0     Male
17          17     Male      Miller, Thomas          NaN     Male
18          18     Male      Miller, Thomas          NaN     Male
19          19     Male  Rodriguez, Charles         71.0     Male
20          20     Male   Rodriguez, Joseph         64.0     Male
21          21   Female       Smith, Dorothy        92.0   Female
22          22     Male       Smith, Thomas         50.0     Male
23          23     Male      Williams, John         71.0     Male
24          24   Female      Wilson, Dorothy        77.0   Female
25          25   Female        Wilson, Maria        82.0   Female

    Science_grade  Average
0              80     88.0
1              63     81.5
2              60     69.5
3              54     71.5
4              55     55.0
5              77     66.0
6              77     66.0
7              77     66.0
8              77     66.0
9              89     85.0
10             86     79.0
11             90     73.5
12             84     84.0
13             51     63.5
14             65     69.5
15             99     87.0
16             75     75.0
17             99     99.0
18             75     75.0
19             93     82.0
20             99     81.5
21             57     74.5
22             68     59.0
23             89     80.0
24             84     80.5
25            100     91.0

**Reshaping with the Average(highest to lowest average)**

In [8]:
# Sort the dataframe by the 'Average' column in descending order
student_grades_sorted = student_grades.sort_values(by='Average', ascending=False)

# Display the sorted dataframe
print(student_grades_sorted)

    Unnamed: 0 Gender_x                 Name  Math_grade Gender_y  \
17          17     Male      Miller, Thomas          NaN     Male
25          25   Female        Wilson, Maria        82.0   Female
0            0   Female      Brown, Patricia        96.0   Female
15          15     Male      Miller, Thomas         75.0     Male
9            9     Male       Jones, Charles        81.0     Male
12          12   Female    Miller, Elizabeth         NaN   Female
19          19     Male  Rodriguez, Charles         71.0     Male
20          20     Male   Rodriguez, Joseph         64.0     Male
1            1     Male      Brown, Richard        100.0     Male
24          24   Female      Wilson, Dorothy        77.0   Female
23          23     Male      Williams, John         71.0     Male
10          10     Male        Jones, James         72.0     Male
18          18     Male      Miller, Thomas          NaN     Male
16          16     Male      Miller, Thomas         75.0     Male
21          21   Female       Smith, Dorothy        92.0   Female
11          11     Male      Jones, Richard         57.0     Male
3            3   Female     Johnson, Barbara        89.0   Female
14          14   Female         Miller, Mary        74.0   Female
2            2   Female       Davis, Barbara        79.0   Female
8            8   Female    Johnson, Jennifer        55.0   Female
7            7   Female    Johnson, Jennifer        55.0   Female
6            6   Female    Johnson, Jennifer        55.0   Female
5            5   Female    Johnson, Jennifer        55.0   Female
13          13   Female     Miller, Jennifer        76.0   Female
22          22     Male       Smith, Thomas         50.0     Male
4            4     Male      Johnson, James         55.0     Male

    Science_grade  Average
17             99     99.0
25            100     91.0
0              80     88.0
15             99     87.0
9              89     85.0
12             84     84.0
19             93     82.0
20             99     81.5
1              63     81.5
24             84     80.5
23             89     80.0
10             86     79.0
18             75     75.0
16             75     75.0
21             57     74.5
11             90     73.5
3              54     71.5
14             65     69.5
2              60     69.5
8              77     66.0
7              77     66.0
6              77     66.0
5              77     66.0
13             51     63.5
22             68     59.0
4              55     55.0

**Remove data duplications**

In [21]:
import pandas as pd

# Remove duplicates based on the 'Name' column
student_grades_cleaned = student_grades_sorted.drop_duplicates(subset='Name')

# Reset the index to renumber correctly
student_grades_cleaned.reset_index(drop=True, inplace=True)

# Rename 'Gender_x' column to 'Gender'
student_grades_cleaned.rename(columns={'Gender_x': 'Gender'}, inplace=True)

# Select only the required columns
student_grades_cleaned = student_grades_cleaned[['Gender', 'Name', 'Math_grade', 'Science_grade', 'Average']]

# Display the cleaned and renumbered dataframe
print(student_grades_cleaned)

    Gender                 Name  Math_grade  Science_grade  Average
0     Male      Miller, Thomas          NaN             99     99.0
1   Female        Wilson, Maria        82.0            100     91.0
2   Female      Brown, Patricia        96.0             80     88.0
3     Male       Jones, Charles        81.0             89     85.0
4   Female    Miller, Elizabeth         NaN             84     84.0
5     Male  Rodriguez, Charles         71.0             93     82.0
6     Male   Rodriguez, Joseph         64.0             99     81.5
7     Male      Brown, Richard        100.0             63     81.5
8   Female      Wilson, Dorothy        77.0             84     80.5
9     Male      Williams, John         71.0             89     80.0
10    Male        Jones, James         72.0             86     79.0
11  Female       Smith, Dorothy        92.0             57     74.5
12    Male      Jones, Richard         57.0             90     73.5
13  Female     Johnson, Barbara        89.0             54     71.5
14  Female         Miller, Mary        74.0             65     69.5
15  Female       Davis, Barbara        79.0             60     69.5
16  Female    Johnson, Jennifer        55.0             77     66.0
17  Female     Miller, Jennifer        76.0             51     63.5
18    Male       Smith, Thomas         50.0             68     59.0
19    Male      Johnson, James         55.0             55     55.0

<ipython-input-21-a397a5a49813>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  student_grades_cleaned.rename(columns={'Gender_x': 'Gender'}, inplace=True)

**Remove null, missing, and irrelevant data**

In [22]:
import pandas as pd

# Remove duplicates based on the 'Name' column
student_grades_cleaned = student_grades_sorted.drop_duplicates(subset='Name')

# Reset the index to renumber correctly
student_grades_cleaned.reset_index(drop=True, inplace=True)

# Rename 'Gender_x' column to 'Gender'
student_grades_cleaned.rename(columns={'Gender_x': 'Gender'}, inplace=True)

student_grades_cleaned = student_grades_cleaned[['Gender', 'Name', 'Math_grade', 'Science_grade', 'Average']]

# Drop rows with NaN values
student_grades_cleaned = student_grades_cleaned.dropna(subset=['Math_grade', 'Science_grade'])

print(student_grades_cleaned)

    Gender                 Name  Math_grade  Science_grade  Average
1   Female        Wilson, Maria        82.0            100     91.0
2   Female      Brown, Patricia        96.0             80     88.0
3     Male       Jones, Charles        81.0             89     85.0
5     Male  Rodriguez, Charles         71.0             93     82.0
6     Male   Rodriguez, Joseph         64.0             99     81.5
7     Male      Brown, Richard        100.0             63     81.5
8   Female      Wilson, Dorothy        77.0             84     80.5
9     Male      Williams, John         71.0             89     80.0
10    Male        Jones, James         72.0             86     79.0
11  Female       Smith, Dorothy        92.0             57     74.5
12    Male      Jones, Richard         57.0             90     73.5
13  Female     Johnson, Barbara        89.0             54     71.5
14  Female         Miller, Mary        74.0             65     69.5
15  Female       Davis, Barbara        79.0             60     69.5
16  Female    Johnson, Jennifer        55.0             77     66.0
17  Female     Miller, Jennifer        76.0             51     63.5
18    Male       Smith, Thomas         50.0             68     59.0
19    Male      Johnson, James         55.0             55     55.0

<ipython-input-22-2ba3107b623b>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  student_grades_cleaned.rename(columns={'Gender_x': 'Gender'}, inplace=True)