<a href="https://colab.research.google.com/github/natalie2103/CS103/blob/main/activity5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Mounted at /gdrive
/gdrive

**Read the datasets**

In [30]:
import pandas as pd
math_grade = pd.read_csv("/gdrive/MyDrive/Colab Notebooks/student_grade_math.csv")
science_grade = pd.read_csv("/gdrive/MyDrive/Colab Notebooks/student_grade_science.csv")

print(math_grade)
print(science_grade)

   STUDENT GRADES           Unnamed: 1  Unnamed: 2
0             NaN                  NaN         NaN
1            MALE                  NaN         NaN
2             No.                 Name  Math grade
3               1      Jones, Richard           57
4               2       Jones, Charles          81
5               3      Brown, Richard          100
6               4      Johnson, James           55
7               5   Rodriguez, Joseph           64
8               6      Miller, Thomas           75
9               7      Williams, John           71
10              8  Rodriguez, Charles           71
11              9       Smith, Thomas           50
12             10        Jones, James           72
13             11      Miller, Thomas          NaN
14            NaN                  NaN         NaN
15         FEMALE                  NaN         NaN
16            No.                 Name  Math grade
17              1       Smith, Dorothy          92
18              2      Brown, Patricia          96
19              3    Johnson, Jennifer          55
20              4     Miller, Jennifer          76
21              5       Davis, Barbara          79
22              6        Wilson, Maria          82
23              7      Wilson, Dorothy          77
24              8    Johnson, Jennifer          55
25              9    Miller, Elizabeth         NaN
26             10     Johnson, Barbara          89
27             11         Miller, Mary          74
   STUDENT GRADES           Unnamed: 1     Unnamed: 2
0             NaN                  NaN            NaN
1            MALE                  NaN            NaN
2             No.                 Name  Science Grade
3               1      Jones, Richard              90
4               2       Jones, Charles             89
5               3      Brown, Richard              63
6               4      Johnson, James              55
7               5   Rodriguez, Joseph              99
8               6      Miller, Thomas              99
9               7      Williams, John              89
10              8  Rodriguez, Charles              93
11              9       Smith, Thomas              68
12             10        Jones, James              86
13             11      Miller, Thomas              75
14            NaN                  NaN            NaN
15         FEMALE                  NaN            NaN
16            No.                 Name  Science Grade
17              1       Smith, Dorothy             57
18              2      Brown, Patricia             80
19              3    Johnson, Jennifer             77
20              4     Miller, Jennifer             51
21              5       Davis, Barbara             60
22              6        Wilson, Maria            100
23              7      Wilson, Dorothy             84
24              8    Johnson, Jennifer             77
25              9    Miller, Elizabeth             84
26             10     Johnson, Barbara             54
27             11         Miller, Mary             65

**Merge male and female datasets for both math and science**

In [37]:
# Check the column names
print("Math Dataset Columns:", math_grade.columns)
print("Science Dataset Columns:", science_grade.columns)

# If the column name is incorrect (e.g., spaces), rename or refer to it properly
# For example, to rename columns to standard names:
math_grade.columns = ['No.', 'Name', 'Math grade']  # Adjust according to your actual columns
science_grade.columns = ['No.', 'Name', 'Science grade']  # Adjust according to your actual columns

# Now proceed with merging male and female sections and sorting alphabetically by 'Name'

# Math dataset processing
math_combined = math_grade.dropna(subset=['Name'])  # Dropping rows where 'Name' is NaN
math_combined = math_combined.sort_values(by='Name')  # Sorting alphabetically by 'Name'

# Science dataset processing
science_combined = science_grade.dropna(subset=['Name'])  # Dropping rows where 'Name' is NaN
science_combined = science_combined.sort_values(by='Name')  # Sorting alphabetically by 'Name'

# Reset index after sorting
math_combined.reset_index(drop=True, inplace=True)
science_combined.reset_index(drop=True, inplace=True)

# Display sorted math and science datasets
print(math_combined)
print(science_combined)

Math Dataset Columns: Index(['No.', 'Name', 'Math grade'], dtype='object')
Science Dataset Columns: Index(['No.', 'Name', 'Science grade'], dtype='object')
    No.                 Name  Math grade
0     2      Brown, Patricia          96
1     3      Brown, Richard          100
2     5       Davis, Barbara          79
3    10     Johnson, Barbara          89
4     4      Johnson, James           55
5     8    Johnson, Jennifer          55
6     3    Johnson, Jennifer          55
7     2       Jones, Charles          81
8    10        Jones, James           72
9     1      Jones, Richard           57
10    9    Miller, Elizabeth         NaN
11    4     Miller, Jennifer          76
12   11         Miller, Mary          74
13   11      Miller, Thomas          NaN
14    6      Miller, Thomas           75
15  No.                 Name  Math grade
16  No.                 Name  Math grade
17    8  Rodriguez, Charles           71
18    5   Rodriguez, Joseph           64
19    1       Smith, Dorothy          92
20    9       Smith, Thomas           50
21    7      Williams, John           71
22    7      Wilson, Dorothy          77
23    6        Wilson, Maria          82
    No.                 Name  Science grade
0     2      Brown, Patricia             80
1     3      Brown, Richard              63
2     5       Davis, Barbara             60
3    10     Johnson, Barbara             54
4     4      Johnson, James              55
5     8    Johnson, Jennifer             77
6     3    Johnson, Jennifer             77
7     2       Jones, Charles             89
8    10        Jones, James              86
9     1      Jones, Richard              90
10    9    Miller, Elizabeth             84
11    4     Miller, Jennifer             51
12   11         Miller, Mary             65
13   11      Miller, Thomas              75
14    6      Miller, Thomas              99
15  No.                 Name  Science Grade
16  No.                 Name  Science Grade
17    8  Rodriguez, Charles              93
18    5   Rodriguez, Joseph              99
19    1       Smith, Dorothy             57
20    9       Smith, Thomas              68
21    7      Williams, John              89
22    7      Wilson, Dorothy             84
23    6        Wilson, Maria            100

**Combine the two dataframes**

In [39]:
# Merge math and science grades based on the "Name" column
student_grades = pd.merge(math_combined, science_combined, on="Name")

# Save the combined dataset to a CSV file
student_grades.to_csv("/gdrive/MyDrive/Colab Notebooks/student_grades.csv")

# Display the combined dataframe
print(student_grades)

   No._x                 Name  Math grade No._y  Science grade
0      2      Brown, Patricia          96     2             80
1      3      Brown, Richard          100     3             63
2      5       Davis, Barbara          79     5             60
3     10     Johnson, Barbara          89    10             54
4      4      Johnson, James           55     4             55
5      8    Johnson, Jennifer          55     8             77
6      8    Johnson, Jennifer          55     3             77
7      3    Johnson, Jennifer          55     8             77
8      3    Johnson, Jennifer          55     3             77
9      2       Jones, Charles          81     2             89
10    10        Jones, James           72    10             86
11     1      Jones, Richard           57     1             90
12     9    Miller, Elizabeth         NaN     9             84
13     4     Miller, Jennifer          76     4             51
14    11         Miller, Mary          74    11             65
15    11      Miller, Thomas          NaN    11             75
16    11      Miller, Thomas          NaN     6             99
17     6      Miller, Thomas           75    11             75
18     6      Miller, Thomas           75     6             99
19   No.                 Name  Math grade   No.  Science Grade
20   No.                 Name  Math grade   No.  Science Grade
21   No.                 Name  Math grade   No.  Science Grade
22   No.                 Name  Math grade   No.  Science Grade
23     8  Rodriguez, Charles           71     8             93
24     5   Rodriguez, Joseph           64     5             99
25     1       Smith, Dorothy          92     1             57
26     9       Smith, Thomas           50     9             68
27     7      Williams, John           71     7             89
28     7      Wilson, Dorothy          77     7             84
29     6        Wilson, Maria          82     6            100

**Load and read the students_grades and add new column "Average"**

In [17]:
import pandas as pd

# Load the student_grades dataset
student_grades = pd.read_csv("/gdrive/MyDrive/Colab Notebooks/student_grades.csv")

# Convert 'Math grade' and 'Science grade' columns to numeric, invalid parsing will be set as NaN
student_grades['Math grade'] = pd.to_numeric(student_grades['Math grade'], errors='coerce')
student_grades['Science grade'] = pd.to_numeric(student_grades['Science grade'], errors='coerce')

# Now create a new column 'Average' by averaging 'Math grade' and 'Science grade', ignoring NaN values
student_grades['Average'] = student_grades[['Math grade', 'Science grade']].mean(axis=1)

# Display the dataset with the new 'Average' column
print(student_grades)

    Unnamed: 0 Index_x                 Name  Math grade Index_y  \
0            0       2      Brown, Patricia        96.0       2
1            1       3      Brown, Richard        100.0       3
2            2       5       Davis, Barbara        79.0       5
3            3      10     Johnson, Barbara        89.0      10
4            4       4      Johnson, James         55.0       4
5            5       8    Johnson, Jennifer        55.0       8
6            6       8    Johnson, Jennifer        55.0       3
7            7       3    Johnson, Jennifer        55.0       8
8            8       3    Johnson, Jennifer        55.0       3
9            9       2       Jones, Charles        81.0       2
10          10      10        Jones, James         72.0      10
11          11       1      Jones, Richard         57.0       1
12          12       9    Miller, Elizabeth         NaN       9
13          13       4     Miller, Jennifer        76.0       4
14          14      11         Miller, Mary        74.0      11
15          15      11      Miller, Thomas          NaN      11
16          16      11      Miller, Thomas          NaN       6
17          17       6      Miller, Thomas         75.0      11
18          18       6      Miller, Thomas         75.0       6
19          19     No.                 Name         NaN     No.
20          20     No.                 Name         NaN     No.
21          21     No.                 Name         NaN     No.
22          22     No.                 Name         NaN     No.
23          23       8  Rodriguez, Charles         71.0       8
24          24       5   Rodriguez, Joseph         64.0       5
25          25       1       Smith, Dorothy        92.0       1
26          26       9       Smith, Thomas         50.0       9
27          27       7      Williams, John         71.0       7
28          28       7      Wilson, Dorothy        77.0       7
29          29       6        Wilson, Maria        82.0       6

    Science grade  Average
0            80.0     88.0
1            63.0     81.5
2            60.0     69.5
3            54.0     71.5
4            55.0     55.0
5            77.0     66.0
6            77.0     66.0
7            77.0     66.0
8            77.0     66.0
9            89.0     85.0
10           86.0     79.0
11           90.0     73.5
12           84.0     84.0
13           51.0     63.5
14           65.0     69.5
15           75.0     75.0
16           99.0     99.0
17           75.0     75.0
18           99.0     87.0
19            NaN      NaN
20            NaN      NaN
21            NaN      NaN
22            NaN      NaN
23           93.0     82.0
24           99.0     81.5
25           57.0     74.5
26           68.0     59.0
27           89.0     80.0
28           84.0     80.5
29          100.0     91.0

**Reshaping with the Average(highest to lowest average)**

In [18]:
# Sort the dataframe by the 'Average' column in descending order
student_grades_sorted = student_grades.sort_values(by='Average', ascending=False)

# Display the sorted dataframe
print(student_grades_sorted)

    Unnamed: 0 Index_x                 Name  Math grade Index_y  \
16          16      11      Miller, Thomas          NaN       6
29          29       6        Wilson, Maria        82.0       6
0            0       2      Brown, Patricia        96.0       2
18          18       6      Miller, Thomas         75.0       6
9            9       2       Jones, Charles        81.0       2
12          12       9    Miller, Elizabeth         NaN       9
23          23       8  Rodriguez, Charles         71.0       8
24          24       5   Rodriguez, Joseph         64.0       5
1            1       3      Brown, Richard        100.0       3
28          28       7      Wilson, Dorothy        77.0       7
27          27       7      Williams, John         71.0       7
10          10      10        Jones, James         72.0      10
17          17       6      Miller, Thomas         75.0      11
15          15      11      Miller, Thomas          NaN      11
25          25       1       Smith, Dorothy        92.0       1
11          11       1      Jones, Richard         57.0       1
3            3      10     Johnson, Barbara        89.0      10
14          14      11         Miller, Mary        74.0      11
2            2       5       Davis, Barbara        79.0       5
8            8       3    Johnson, Jennifer        55.0       3
7            7       3    Johnson, Jennifer        55.0       8
6            6       8    Johnson, Jennifer        55.0       3
5            5       8    Johnson, Jennifer        55.0       8
13          13       4     Miller, Jennifer        76.0       4
26          26       9       Smith, Thomas         50.0       9
4            4       4      Johnson, James         55.0       4
19          19     No.                 Name         NaN     No.
20          20     No.                 Name         NaN     No.
21          21     No.                 Name         NaN     No.
22          22     No.                 Name         NaN     No.

    Science grade  Average
16           99.0     99.0
29          100.0     91.0
0            80.0     88.0
18           99.0     87.0
9            89.0     85.0
12           84.0     84.0
23           93.0     82.0
24           99.0     81.5
1            63.0     81.5
28           84.0     80.5
27           89.0     80.0
10           86.0     79.0
17           75.0     75.0
15           75.0     75.0
25           57.0     74.5
11           90.0     73.5
3            54.0     71.5
14           65.0     69.5
2            60.0     69.5
8            77.0     66.0
7            77.0     66.0
6            77.0     66.0
5            77.0     66.0
13           51.0     63.5
26           68.0     59.0
4            55.0     55.0
19            NaN      NaN
20            NaN      NaN
21            NaN      NaN
22            NaN      NaN

**Remove data duplications**

In [41]:
import pandas as pd

# Assuming 'student_grades_sorted' contains Name, Math grade, Science grade, Average columns

# Remove duplicates based on the 'Name' column
student_grades_cleaned = student_grades_sorted.drop_duplicates(subset='Name')

# Reset the index to renumber correctly
student_grades_cleaned.reset_index(drop=True, inplace=True)

# Add the 'No.' column for correct numbering, starting from 1
student_grades_cleaned.insert(0, 'No.', range(1, len(student_grades_cleaned) + 1))

# Create the 'Gender' column based on 'Name'
# Assuming male names are in one set and female names in another, we create this mapping
# Example: You need to know which names are male and which are female
male_names = ["Jones, Richard", "Jones, Charles", "Brown, Richard", "Johnson, James", "Rodriguez, Joseph",
              "Miller, Thomas", "Williams, John", "Smith, Thomas", "Rodriguez, Charles", "Jones, James"]

student_grades_cleaned['Gender'] = student_grades_cleaned['Name'].apply(
    lambda x: 'Male' if x in male_names else 'Female'
)

# Select only the required columns (drop unnecessary columns like Index_x and Index_y)
student_grades_cleaned = student_grades_cleaned[['No.', 'Name', 'Gender', 'Math grade', 'Science grade', 'Average']]

# Display the cleaned and renumbered dataframe
print(student_grades_cleaned)

    No.                 Name  Gender  Math grade  Science grade  Average
0     1      Miller, Thomas   Female         NaN           99.0     99.0
1     2        Wilson, Maria  Female        82.0          100.0     91.0
2     3      Brown, Patricia  Female        96.0           80.0     88.0
3     4       Jones, Charles    Male        81.0           89.0     85.0
4     5    Miller, Elizabeth  Female         NaN           84.0     84.0
5     6  Rodriguez, Charles   Female        71.0           93.0     82.0
6     7   Rodriguez, Joseph   Female        64.0           99.0     81.5
7     8      Brown, Richard   Female       100.0           63.0     81.5
8     9      Wilson, Dorothy  Female        77.0           84.0     80.5
9    10      Williams, John   Female        71.0           89.0     80.0
10   11        Jones, James   Female        72.0           86.0     79.0
11   12       Smith, Dorothy  Female        92.0           57.0     74.5
12   13      Jones, Richard   Female        57.0           90.0     73.5
13   14     Johnson, Barbara  Female        89.0           54.0     71.5
14   15         Miller, Mary  Female        74.0           65.0     69.5
15   16       Davis, Barbara  Female        79.0           60.0     69.5
16   17    Johnson, Jennifer  Female        55.0           77.0     66.0
17   18     Miller, Jennifer  Female        76.0           51.0     63.5
18   19       Smith, Thomas   Female        50.0           68.0     59.0
19   20      Johnson, James   Female        55.0           55.0     55.0
20   21                 Name  Female         NaN            NaN      NaN

<ipython-input-41-d589a4e40836>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  student_grades_cleaned['Gender'] = student_grades_cleaned['Name'].apply(

**Remove null, missing, and irrelevant data**

In [43]:
import pandas as pd

# Assuming 'student_grades_sorted' contains Name, Math grade, Science grade, Average columns

# Remove duplicates based on the 'Name' column
student_grades_cleaned = student_grades_sorted.drop_duplicates(subset='Name')

# Reset the index to renumber correctly
student_grades_cleaned.reset_index(drop=True, inplace=True)

# Add the 'No.' column for correct numbering, starting from 1
student_grades_cleaned.insert(0, 'No.', range(1, len(student_grades_cleaned) + 1))

# Select only the required columns, removing 'Gender'
student_grades_cleaned = student_grades_cleaned[['No.', 'Name', 'Math grade', 'Science grade', 'Average']]

# Drop rows with NaN values in the 'Math grade' or 'Science grade' columns
student_grades_cleaned = student_grades_cleaned.dropna(subset=['Math grade', 'Science grade'])

# Display the cleaned and renumbered dataframe
print(student_grades_cleaned)

    No.                 Name  Math grade  Science grade  Average
1     2        Wilson, Maria        82.0          100.0     91.0
2     3      Brown, Patricia        96.0           80.0     88.0
3     4       Jones, Charles        81.0           89.0     85.0
5     6  Rodriguez, Charles         71.0           93.0     82.0
6     7   Rodriguez, Joseph         64.0           99.0     81.5
7     8      Brown, Richard        100.0           63.0     81.5
8     9      Wilson, Dorothy        77.0           84.0     80.5
9    10      Williams, John         71.0           89.0     80.0
10   11        Jones, James         72.0           86.0     79.0
11   12       Smith, Dorothy        92.0           57.0     74.5
12   13      Jones, Richard         57.0           90.0     73.5
13   14     Johnson, Barbara        89.0           54.0     71.5
14   15         Miller, Mary        74.0           65.0     69.5
15   16       Davis, Barbara        79.0           60.0     69.5
16   17    Johnson, Jennifer        55.0           77.0     66.0
17   18     Miller, Jennifer        76.0           51.0     63.5
18   19       Smith, Thomas         50.0           68.0     59.0
19   20      Johnson, James         55.0           55.0     55.0